body {
  background-color: rgb(5, 1, 43);
}
.container {
  width: 500px;
  margin: 100px auto;
  text-align: center;
}
.geral {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonBox {
  width: 320px;
  display: grid;
  grid-template-columns: 160px 160px;
}
.buttonBox button {
  margin: 10px auto;
  width: 150px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(202, 77, 77, 0.672);
  border: 2px solid gray;
  border-radius: 5px;
}
h1 {
  margin: 0;
  color: rgba(12, 126, 99, 0.637);
  text-align: left;
}
p {
  width: 450px;
  background-color: rgba(0, 255, 255, 0.305);
  padding: 25px;
}
